.bordaCycle{
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0;
    padding: 0;
    margin-right: -50%;
    transform: translate(-46%, -44.5%);
    width: 390px;
    height: 390px;
    border-radius: 50%;
    border-style: solid;
    background-color: #8fdf82;
}
.imgCycle{
    position: absolute;
    top: 52%;
    left: 50%;
    margin: 0;
    padding: 0;
    margin-right: -50%;
    transform: translate(-40%, -40%);
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border-style: solid;
}
#cycle {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0;
    padding: 0;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border-color: #8fdf82;
    list-style-type: none;
    background: #fffffc;
}
#cycle .itemCycle {
    position: absolute;
    -webkit-transition: all 2s linear;
    -moz-transition: all 2s linear;
    transition: all 2s linear;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    border-style: solid;
    background-color: #00b961;
}

.imgItem{
    height: 100%;
    width: 100%;
}