.conteudo #bloco1, #bloco2, #bloco3{
}
.conteudo #bloco1{
}
.conteudo #bloco2{
}
.conteudo #bloco3{
}

.nota{
    background-color: #74c6d4;
    margin: 12px;
    height: 174px;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    align-items: center;
    transition: margin-left 100ms, margin-right 100ms, background-color 300ms;
}

.nota:hover{
    margin-right: 11px;
    margin-left: 11px;
    background-color: #78dfa0;
}

.nota h6{
    padding: 20px;
    color: whitesmoke;
    text-align: center;
    position: relative;
    height: auto;
}

.mcontainer{
    background-color: #78dfa0;
    margin: 12px;
    height: 174px;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    transition: margin-left 100ms, margin-right 100ms, background-color 300ms;
}

.mcontainer:hover{
    margin-right: 11px;
    margin-left: 11px;
    background-color: #d8dbde;
}

.mcontainer h6{
    padding: 20px;
    color: whitesmoke;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.mcontainer .tipoDoContainer{
    padding: 20px;
    color: whitesmoke;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.conteudo .badd{
    margin-top: 64vh;
    margin-left: 54vw;
    position: fixed;
    float-displace: auto;
}






